<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Elogic_TestUnit::first_level_demo"
             title="Elogic Menu"
             module="Elogic_TestUnit"
             sortOrder="12"
             resource="Elogic_TestUnit::menu" />
        <add id="Elogic_TestUnit::vendor_index"
             title="Vendor List"
             module="Elogic_TestUnit"
             sortOrder="0"
             action="elogic_testunit/vendor/index"
             parent="Elogic_TestUnit::first_level_demo"
             resource="Elogic_TestUnit::vendor_index" />
        <add id="Elogic_TestUnit::vendor_add"
             title="Add Vendor"
             module="Elogic_TestUnit"
             sortOrder="1"
             action="elogic_testunit/vendor/add"
             parent="Elogic_TestUnit::first_level_demo"
             resource="Elogic_TestUnit::vendor_add" />
    </menu>
</config>
