<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="elogic_testunit_vendor_listing_data_source" xsi:type="string">Elogic\TestUnit\Model\ResourceModel\Create\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Elogic\TestUnit\Model\ResourceModel\Create\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">elogic_testunit_vendor</argument>
            <argument name="resourceModel" xsi:type="string">Elogic\TestUnit\Model\ResourceModel\Vendor</argument>
        </arguments>
    </virtualType>

    <!-- @TODO Check and remove own ImageUploader if works -->
    <virtualType name="Elogic\TestUnit\ReferenceImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">elogic/tmp/feature</argument>
            <argument name="basePath" xsi:type="string">elogic/feature</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Elogic\TestUnit\Controller\Adminhtml\Vendor\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Elogic\TestUnit\ReferenceImageUpload</argument>
        </arguments>
    </type>
    <!-- Render our block added on layout for all product types -->
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="render_vendor_block" type="Elogic\TestUnit\Plugin\RenderVendorOnListingPage" sortOrder="100"/>
    </type>
</config>
